body {
  font-family: Helvetica;
  font-size: 15px;
}

#menu {
  float: right;
  margin-top: 60px;
  margin-right: 20px;
  text-align: right;
  width: 150px;
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica;
}

#menu .title {
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

#menu li a {
  display: inline-block;
  color: #0864c7;
}

#left {
  height: 1px;
  float: left;
  display: block;
  min-width: 0;
  overflow: hidden;
  width: 200px;
  margin: 0;
  padding: 0;
}

#content {
  margin-top: 60px;
  float: left;
  width: 500px;
}

#content h1, #content h2, #content h3 {
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica;
  margin: 0;
}

#content p, #content ul {
  color: #333;
  line-height: 1.5;
}

#content li {
  margin-bottom: 0.2em;
}

a:link {
  text-decoration: none;
}

.post + .post {
  margin-top: 50px;
}

th, td {
  padding: 9px;
  font-size: 15px;
  line-height: 1.5;
  text-align: left;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 500px;
}

.image2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 0px;
  width: 400px;
}


.image3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 400px;
}


.image_blog {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 500px;
  border: 1px solid #000;
}




.footer {
  font-size: 15px;
  line-height: 1.5;
}

.photo {
  padding: 20px;
  border: 1px solid #C0C0C0; 
  border-collapse: collapse;
  line-height: 0;  
}

